.homeimg{
  width: 10%;
  height: 10%; 
}
.foot{
  height: 10%;
}
.div-city{
  height: 400px;
}
.imgbox{
  height: 80px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-text{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -62px;
  font-weight: bolder;
  font-size: 29px;
  /*background: -webkit-linear-gradient(#eee, #333);*/
  

  /*Gradiente de la letra  */
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.imgbox img{
  object-fit: cover;
  border-color: grey;
  border-style: solid;

  margin-bottom: 0.5rem;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 1px 3px #A5A5A5; 
  box-shadow: 3px 3px 10px 3px #A5A5A5;
}

.round{
  border-radius: 60%;
  width: 60%;
  height: 60%;
}

.box{
  border-style: solid;
  border: 5px 5px 5px 5px;
  border-color: silver;
  border-radius: 5px ;
  height: 40%;
  box-shadow: inset -3px -2px 6px black, -3px -2px 3px slategrey; 
}
.expand{
  border: -5px -5px -5px -5px cadetblue;
  background-color: cadetblue;  
  height: 40px;
  border-radius: 10px 20px 5px ;
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.text{
  color: cyan;
  font-size: 12px;
}