.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.wh-40{
  width: 22%;
  height: 22%;
}

.homeimg{
  width: 10%;
  height: 10%;
}

h5{
  font-size: 18px;
}
.div-form{
  height: 520px;
}
.box-red{
  border: 1px black;
  border-style: solid;
  width: 200px;
  height: 50px;
}
.foto{
  border-radius: 50%;
  border: 1px black;
  border-style: solid;
  height: 80px;
  width: 80px;
  align-self: center;
  overflow: hidden;
  color: transparent;
  background-color: white;
  background-size: contain;
}
.form-group{
  margin-bottom: 0.5rem!important;
}
#file{
  color: transparent;
  height: 80px;
  width: 80px;
  overflow: hidden;
}