.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .wh-40{
    width: 22%;
    height: 22%;
  }
  
  .homeimg{
    width: 10%;
    height: 10%;
    
  }
  
  h5{
    font-size: 18px;
  }

  .carousel{
    padding-bottom: 50px;
  }

  .carousel-control-prev, .carousel-control-next{
    bottom: 13px;
    top: none;
  } 

  .carousel-indicators .active{
    border-top: none;
    border-bottom:none;
    border-radius: 50%;
    border-color: black;
    border-style:solid;
    width: 5px;
    height: 5px;
  }
  .carousel-control-next-icon{
    background-image: url('/image/next-arrow.png') !important;
  }
  .carousel-control-prev-icon{
    background-image: url('/image/arrow-back.png') !important;
  }

  .carousel-control-next-icon{
    background-image: url('/image/next-arrow.png') !important;
  }

  .carousel-indicators li{
    border-top: none;
    border-bottom:none;
    border-radius: 50%;
    border-color: gray;
    border-style:solid;
    width: 5px;
    height: 5px;
  }