.homeimg{
  width: 10%;
  height: 10%;
  
}
.div-city{
  height: 500px;
}
.imgbox{
  height: 80px;
  width: 90%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-text{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -62px;
  
  font-size: 29px;
  /*background: -webkit-linear-gradient(#eee, #333);*/
  

  /*Gradiente de la letra  */
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.imgbox img{
  object-fit: cover;
  border-radius: 15px 15px 15px 15px ;
  border-color: grey;
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 60px;
  width: 90%;
  -webkit-box-shadow: 3px 3px 1px 3px #A5A5A5; 
  box-shadow: 3px 3px 10px 3px #A5A5A5;
}